.search-form {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    align-self: center;
}

.input-bar, .submit-button {
    margin: 0.2rem;
}

.input-bar {
    font-family: 'Xanh Mono', monospace;
    font-style: italic;
    font-size: 1.5rem;
    width: 7rem;
    text-align: center;
}

.submit-button {
    font-family: 'Xanh Mono', monospace;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
}
